section.dark.block
    .row
      .small-12.columns
        h2.section-header About me
      .small-8.columns.content
        h3 Perttu Ristimella
        p Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        p Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        p Vivamus sagittis lacus vel augue laoreet rutrum <a href="#">ristinollacreative.com</a> faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Cum stociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. You can also find me through company name Ristinolla Creative.
        ul.list-inline.icon-list
          li
            a(href="http://github.com/ristinolla/").icon.github
              include ../../assets/img/svg/github.svg
          li
            a(href="http://fi.linkedin.com/in/pertturistimella/").icon.linkedin
              include ../../assets/img/svg/linkedin.svg
          li
            a(href="http://twitter.com/ristinolla").icon.twitter
              include ../../assets/img/svg/twitter.svg
          li
            a(href="http://blog.pertturistimella.com/").icon.tumblr
              include ../../assets/img/svg/tumblr.svg
          li
            a(href="https://www.flickr.com/photos/limpek/").icon.flickr
              include ../../assets/img/svg/flickr.svg

      .small-4.columns
        img(src="assets/img/profile.jpg")
        a.caption.pull-right(href="https://www.flickr.com/photos/photovena/") Photo credit: Elisa Kaurala
