section#about.light.block.the-block
  .row.content
    h1 I'm Perttu Ristimella a web developer, <br> who loves to take <a href="https://ristinolla.tumblr.com">photos</a>.
    p.
      Full-stack developer currently based in Helsinki, but born and raised in the Finnish Lapland.
      I am passionate about web design, modern web technologies, lean development, superb workflows and team leading.
      I appreciate beautifully designed and carefully crafted products.
    p.
      Currently working at <a href="https://www.gapps.fi">Gapps</a> focusing on building intranet called <a href="https://getuniverse.com"> Universe</a>.
    p.
       <span id="contact"></span>You can contact me via <a href="mailto:hello@pertturistimella.com">email</a>, <a href="http://twitter.com/ristinolla">Twitter</a> and <a href="https://github.com/ristinolla/">Github</a>.
