section#about.dark.block.the-block
  .row.content
    include:md ../../texts/about.md
  .row
    ul.list-inline.list-icons.social
      li
        a(href="http://github.com/ristinolla/")
          i.icon.icon-github
      li
        a(href="http://fi.linkedin.com/in/pertturistimella/")
          i.icon.icon-linkedin
      li
        a(href="http://twitter.com/ristinolla")
          i.icon.icon-twitter
      li
        a(href="http://blog.pertturistimella.com/")
          i.icon.icon-tumblr
      //li
      //  a(href="https://www.flickr.com/photos/limpek/")
      //    i.icon.icon-flickr
