include variables
section.banner
  div
      h1.
         Hi, my name is Perttu.<br>
         I am a badass web developer & designer,
         <br> who loves to take photos.
      p.lead.
        I'm currently looking for a full-time job in <strong>Helsinki</strong> area
        <br>and I'm also open for freelance assignments.
