include variables
section.banner
  div
      h1 Hi, my name is Perttu.
      p.lead
        | I am a badass (full-stack) web developer
        | <br> who loves to take photos.
      p.
        I am currently looking for new opportunities in <strong>Helsinki</strong> area.
