include variables
section.banner
  div
    figure.avatar
      img(src="assets/img/profile-sq.jpg")
    h1.
       Hi, my name is Perttu.<br>
       I am a badass web developer & designer,
       <br> who loves to take photos.
