include variables
section.banner
  div
    figure.avatar
      img(src="assets/img/profile-sq.jpg")
    h1.main-head.
       Hi, my name is Perttu.<br>
       I am a badass web developer & designer,
       <br> who loves to take <a class="smooth-scroll" href="#photos">photos</a>.
