

if production == true
  script(src="assets/js/perttu.libs.min.js", type="text/javascript")
  script(src="assets/src/js/perttu.min.js", type="text/javascript")
else
  script(src="assets/js/perttu.libs.js", type="text/javascript")
  script(src="src/js/main.js", type="text/javascript")