footer.block.dark
  .row
    .small-12.columns
      p
       | Carefully crafted with <i class="icon icon-heart"></i>  in Helsinki with touch of Lapland    |
       |    &copy; 2014 Ristinolla Creative  |
       |    ID: 2645912-7  |
       |    <a href="mailto:hello@pertturistimella.com">hello@pertturistimella.com</a>

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js")
script(src="assets/js/scripts.min.js")
