include variables

nav.navigation.nav-closed
  a.logo(href="/") RistinollaCreative
  button.button-clear.toggle-navigation.collapsed(type='button', data-target='#navigation')
    span.sr-only Toggle navigation
    .hamburger
  div#navigation.big-nav
    ul.list-unstyled
      li
        a(href="#") Selected Work
      li
        a(href="#") Skills
      li
        a(href="#") About
      li
        a(href="#") Contact
      li
        a(href="#") Blog
    ul.list-inline.icon-list
      li
        a(href="http://github.com/ristinolla/").icon.github
          include ../../assets/img/svg/github.svg
      li
        a(href="http://fi.linkedin.com/in/pertturistimella/").icon.linkedin
          include ../../assets/img/svg/linkedin.svg
      li
        a(href="http://twitter.com/ristinolla").icon.twitter
          include ../../assets/img/svg/twitter.svg    
