include variables

nav.navigation.nav-closed
  a.logo(href="/") RistinollaCreative 
  button.button-clear.toggle-navigation.collapsed(type='button', data-target='#navigation')
    span.sr-only Toggle navigation
    .hamburger
  div#navigation.big-nav
    ul.list-unstyled
      li
        a(href="#") Selected Work
      li
        a(href="#") Skills
      li
        a(href="#") About
      li
        a(href="#") Contact
      li
        a(href="#") Blog
    ul.list-inline
      li A
      li B
      li C
