include variables
section.banner.banner-photo
	div
		h2#photos.section-header Photograhpy
		p.lead On my free time I search for beautiful light and try to capture moments.
		a.button-rounded(href="http://blog.pertturistimella.com", target="_blank") See my photoblog