section.dark.block
  .row
    .small-12
      h2.section-header Skills
    .small-12.medium-4.columns
      .skill-wrapper.code
        .skill-header
          h4 Code
        .skill-text
          p HTML5 <span class="divider">&middot;</span> CSS3 <span class="divider">&middot;</span> Javascript <br> PHP <span class="divider">&middot;</span> Wordpress <span class="divider">&middot;</span> REST <span class="divider">&middot;</span> Git
          p.desc Ninja of frontend. Solid understanding and urge to develop aplications.
          p
            a(href="#") Github

    .small-12.medium-4.columns
      .skill-wrapper.design
        .skill-header
          h4 Design
        .skill-text
          p Photoshop <span class="divider">&middot;</span> Illustrator <span class="divider">&middot;</span> Indesign <br> Web <span class="divider">&middot;</span> Graphic <span class="divider">&middot;</span> UI & UX <span class="divider">&middot;</span> Responsive
          p.desc Photoshop and web design are my strenghts. Logo and graphic design areas to improve.
          p
            a(href="#") Behance

    .small-12.medium-4.columns
      .skill-wrapper.photo
        .skill-header
          h4 Photo
        .skill-text
          p Film <span class="divider">&middot;</span> Darkroom <span class="divider">&middot;</span> Composition <br> Lightroom <span class="divider">&middot;</span> Landscapes <span class="divider">&middot;</span> Panoramas
          p.desc Self studied, learnt, tried, failed, explored, assigned, teached... Dear hobby.
          p
            a(href="#") Souvvi.com
            span.divider  &middot;
            a(href="#")  Flickr
