.row
  .small-12.medium-4.columns
    .skill-wrapper.code
      .skill-header
        h4 Frontend
      .skill-text
        p Semantic HTML5 <span class="divider">&middot;</span> AngularJS <br>  SCSS/LESS <span class="divider">&middot;</span> Gulp <span class="divider">&middot;</span> Git 

  .small-12.medium-4.columns
    .skill-wrapper.design
      .skill-header
        h4 UI&UX
      .skill-text
        p Responsive <span class="divider">&middot;</span> Reactive <br> Progressive <span class="divider">&middot;</span> Graphic & Web Design

  .small-12.medium-4.columns
    .skill-wrapper.photo
      .skill-header
        h4 Backend
      .skill-text
        p Wordpress <span class="divider">&middot;</span> REST <br> Node.js <span class="divider">&middot;</span> Google Cloud <span class="divider">&middot;</span> AWS
