.row
  .small-12.medium-4.columns
    .skill-wrapper.code
      .skill-header
        h4 Code
      .skill-text
        p HTML5 <span class="divider">&middot;</span> AngularJS <span class="divider">&middot;</span> Full-stack <br> Node <span class="divider">&middot;</span> Wordpress <span class="divider">&middot;</span> REST

  .small-12.medium-4.columns
    .skill-wrapper.design
      .skill-header
        h4 Design
      .skill-text
        p Photoshop <span class="divider">&middot;</span> Illustrator <span class="divider">&middot;</span> Indesign <br> Web <span class="divider">&middot;</span> Graphic <span class="divider">&middot;</span> UI & UX <span class="divider">&middot;</span> Responsive

  .small-12.medium-4.columns
    .skill-wrapper.photo
      .skill-header
        h4 Photo
      .skill-text
        p Film <span class="divider">&middot;</span> Darkroom <br> Lightroom <span class="divider">&middot;</span> Landscapes <span class="divider">&middot;</span> Panoramas
