section.light.block
  .row
    .small-12.columns
      h2.section-header Experience
    .small-12.work-item.columns.content
      include:md ../../texts/koodiviidakko.md
    .small-12.work-item.columns.content
      include:md ../../texts/nauha.md
    .small-12.work-item.columns.content
      include:md ../../texts/yokamerat.md
    .small-12.work-item.columns.content
      include:md ../../texts/souvvi.md
