section.light.block
  .row
    .small-12
      h2.section-header Experience
  .row.work-item
    include works/koodiviidakko
  .row.work-item
    include works/nauha
  .row.work-item
    include works/yokamerat
  .row.work-item
    include works/souvvi
