.list-icons li {
  margin-right: 0.5em;
  margin-left: 0.5em;
  a {
    font-size: 2em;
    color: $text-on-dark;
  }
}

.list-inline.social {
  text-align: center;
}
.icon:hover {color: $brand;}
//.icon-github:hover  { color: $github-color    }
//.icon-twitter:hover  { color: $twitter-color   }
//.icon-linkedin:hover  { color: $linkedin-color  }
//.icon-instagram:hover  { color: $instagram-color }
//.icon-flickr:hover  { color: $flickr-color    }
//.icon-tumblr:hover  { color: $tumblr-color    }
//.icon-spotify:hover  { color: $spotify-color   }
