
.block {
  padding: 3em 2em;
}


.dark {
  background: $darkest-gray;
  color: rgb(255,255,255);
}

.light {
  background: rgb(255,255,255);
  color: $dark-gray;
}

figure.avatar {
  width: 8em;
  height: 8em;
  margin: 0 auto 2em;
  img {
    border-radius: 100%;
  }
}


.work-item {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #eee;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}


/**
  ONLY BLOCK LAYOUT
**/


.the-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 50em;
  margin: 0 auto;
}
