.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.ir {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
  }
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}


// List options

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}


.text-center { text-align: center; }


.list-divided {
  font-weight: $bold;
  li:after {
    content: '\b7';
    color:  $light-on-light;
    padding-left: 10px;
  }
  li:last-of-type:after {
    content: '';
    padding-left: 0;
  }
}
