.banner {
  margin: 0; padding: 0;
  width: 100%;
  background: #555;

  background-image: url('../img/lumisade_1000h.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width : 740px )  {
    background-image: url('../img/nz_colorfull.jpg');
  }

  color: white;

  div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 70em;
    padding: 2em;
    padding-top: 16%;
  }

  p.lead {
    font-weight: $narrow;
    font-size: 2.0em;
  }
}
