footer p {
  text-align: center;
  color: $dark-on-dark;
  font-size: 0.857em;
  margin: 0;
  padding: 0;
  a {
    color: $dark-on-dark;
    &:hover {
      color: $brand;
      text-decoration: none;
    }
  }
}
