.navigation {
  width: 100%;
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7000;
  //background: rgba(0,0,0,0.2);
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.logo {
  font-weight: $bold;
  font-size: 2em;
  line-height: 2em;
  color: $nav-color;

  float: left;
  z-index: 1100;
  position: relative;
  transition: color 0.3;
  &:hover {
    text-decoration: none;
    color: $brand;
  }
}

.toggle-navigation {
  cursor: pointer;
  float: right;
  z-index: 1100;
  position: relative;
  user-select:none;
  padding-bottom: 15px;
  span {
    display: inline-block;
    float: left;
    margin-right: 0.75em;
    font-weight: bold;
    font-size: 2em;
    color: white;
    line-height: 1.2;
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 1.5em;
  }
  .open {
      color: $nav-color;
      transform: translate(0, -8em);
  }
  .closed {
      display: inline-block;
      transform: translate(0, 0);
  }

  .nav-closed & .open {
      display: inline-block;
      transform: translate(0, 0);
  }
  .nav-closed & .close {
      transform: translate(0, -8em);
  }
}


// ---
// ---
// ---
.hamburger {
  margin-top: 1.2em;
  transition: all  0.3s ;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  float: left;

  &, &:before, &:after {
    width: 2.7em;
    height: 0.4em;
    border-radius: 2px;
  }


  &:before, &:after {
    content: '';
    display: block;
    background-color: $nav-color;
    position: absolute;
    z-index: -1;
    transition: all  0.3s;
  }

  // auki
  &:before {
    background-color: white;
    top: 0px ;
    transform: rotate(-45deg);
  }
  &:after {
    background-color: white;
    top: 0px ;
    transform: rotate(45deg);
  }

  //kiinni
  .nav-closed & {
    background-color: $nav-color;
     &:before {
       top: -0.8em;
       background-color: $nav-color;
       transform: rotate(0deg);
     }
     &:after {
       top: 0.8em;
       background-color: $nav-color;
       transform: rotate(0deg);
     }
   }
}


.big-nav {
  width: 100%;
  height: 100%;
  z-index: $z-index-7--nav;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10%;
  
  background-color: $nav-background;

  text-align: center;
  a { color: white; }
  color: white;
  font-size: 2em;
  font-weight: $bold;

  opacity: 1;
  transition: transform 0.5s ease-in-out;

  transform: translate(0,0);
  .nav-closed & {
    opacity: 0;
    transform: translate(0,-127%);
  }
}
