.small-6.medium-6.columns.content
  h3 Konseptitoimisto Nauha
  p Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
  p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus.
  p Graphic Design by <a href="http://minnaviitalahde.wordpress.com/">Minna Viitalähde</a>
  p <a href="http://www.konseptitoimistonauha.fi">www.konseptitoimistonuaha.fi</a>
  ul.list-inline.list-divided
    li.code Web Developing
    li.design Web Design
    li.photo Photography

.small-6.medium-6.columns
  div.carousel
    img(src="assets/img/nauha/nauha-desktop.jpg").desktop-img
