.small-12.medium-12.columns.content
  include:md ../content/yokamerat.md
  ul.list-inline.list-divided.list-categories
    li.code Web Developing
    li.design Web Design
  img(src="assets/img/nauha/nauha-desktop.jpg").desktop-img
