/**
Main less file
**/


@import "/../../bower_components/retina.js/src/retina.less";
@import "/../../bower_components/bootstrap/less/mixins.less";
@import "variables";

.text-hide {
  .text-hide();
}

::selection {
  background: @brand;
  color: black;
}

html { height: 100%; margin: 0; padding: 0; }


body {
  margin: 0; padding: 0;
  height: 100%;
  background: #555;

  background-image: url('../img/lumisade_1000h.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width : 740px )  {
    background-image: url('../img/lumisade.jpg');
  }


  color: white;
  font-family: "proxima-nova", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.2em;
  
  @media (min-width : 600px )  {
    font-size: 2.5em;
  }

}
h1 {
  font-weight: 700;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

p.lead {
  font-weight: 700;
  font-size: 1em;
}

p {
  font-weight: 400;
  font-size: 0.5em;
  margin-top: 0;
}

main {
  height: 10em;
  width: 100%;
  text-align: center;
  margin-top: -5em;
  top: 50%;
  position: absolute;

}

a {
  color: @yellow;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

footer {
  a {
    display: inline-block;
    color: white;
    font-size: 0.8em;
    &:first-of-type a {
      margin-right: 0;
    }
  }
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    margin-left: 0.5em;
    &:first-of-type {
      margin-left: 0;
    }
  }
}