doctype html
html(lang="en")
  include includes/head

  body

    main
      header 
          h1 Hi, my name is Perttu. 
          p.lead
            | I am a front-end web developer
            | <br> who loves to take photos.
      section
          p.
            While I'm creating this site, feel free to  <a href="mailto:hello@pertturistimella.com"> say hi</a> 
            or <br> check out <a href="http://github.com/ristinolla/">Github</a> and <a href="http://souvvi.com">souvvi.com</a>!
      footer
        ul.list-inline
          li
            a(href="http://github.com/ristinolla/", target="_blank")
              i.fa.fa-github.fa-2x
              span.text-hide Perttu's Github repositories
  
          li
            a(href="http://fi.linkedin.com/in/pertturistimella/", target="_blank")
              i.fa.fa-linkedin-square.fa-2x
              span.text-hide Perttu's LinkedIn profile
  
          li
            a(href="http://twitter.com/ristinolla", target="_blank")
              i.fa.fa-twitter.fa-2x
              span.text-hide Perttu's Twitter
  
          li
            a(href="http://blog.pertturistimella.com", target="_blank")
              i.fa.fa-tumblr.fa-2x
              span.text-hide Perttu's Blog
  
          li
            a(href="https://www.flickr.com/photos/limpek/", target="_blank")
              i.fa.fa-flickr.fa-2x
              span.text-hide Perttu's Photos  