doctype html
html(lang="en")
  include includes/head

  body.one-block-layout
    //include includes/nav
    //include includes/banner
    
    include includes/about
    

    //include includes/photobanner

    //include includes/footer
