doctype html
html(lang="en")
  include includes/head

  body
    include includes/nav
    include includes/banner
    
    include includes/about
    


    include includes/work

    include includes/footer
