doctype html
html(lang="en")
  include includes/head

  body

    main
      header 
          h1 Hi, my name is Perttu. 
          p.lead
            | I am a front end <a href="http://github.com/ristinolla/">web developer</a>
            | <br> who loves to take <a href="http://souvvi.com"> photos</a>.
      section
          p
            | Feel free to  <a href="mailto:hello@pertturistimella.com"> say hi</a> !
      footer
        a(href="http://github.com/ristinolla/", target="_blank")
          i.fa.fa-github.fa-2x
          span.text-hide Perttu's Github repositories

        a(href="http://fi.linkedin.com/in/pertturistimella/", target="_blank")
          i.fa.fa-linkedin-square.fa-2x
          span.text-hide Perttu's LinkedIn profile

        a(href="http://twitter.com/ristinolla", target="_blank")
          i.fa.fa-twitter.fa-2x
          span.text-hide Perttu's Twitter

        a(href="http://blog.pertturistimella.com", target="_blank")
          i.fa.fa-tumblr.fa-2x
          span.text-hide Perttu's Blog

        a(href="https://www.flickr.com/photos/limpek/", target="_blank")
          i.fa.fa-flickr.fa-2x
          span.text-hide Perttu's Photos