/**
Variables
**/



  $yellow:        rgb(248, 196, 0);
  $orange:        rgb(237, 88, 37);
  $blue:          rgb(52, 187, 202);
  $darkest-gray:  rgb(33, 35, 36); //background and stuff
  $dark-gray:     rgb(69, 72,74); // dark text
  $light-gray:    rgb(198, 204, 205); //light text on light


  $brand: $yellow;

  

  $nav-color: rgb(255,255,255);
  $nav-background:   $yellow;

  $dark-bg: $darkest-gray;


  // FONTS
  $narrow: 200;
  $bold: 800;


  $dark-on-dark:    $dark-gray;
  $light-on-light:  $light-gray;
